<br><br><hr>
<footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">Sobre</a>
            </li>
            <li class="list-inline-item">⋅</li>
            <li class="list-inline-item">
              <a href="#">Contatos</a>
            </li>
            <li class="list-inline-item">⋅</li>
            <li class="list-inline-item">
              <a href="#">Termos de Uso</a>
            </li>
            <li class="list-inline-item">⋅</li>
            <li class="list-inline-item">
              <a href="#">Política de Privacidade</a>
            </li>
            <li class="list-inline-item">
              <a href="/admin">Área administrativa</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">© Richard Lucas 2020. Todos os direitos reservados.</p>
        </div>        
      </div>
    </div>
  </footer>